
.Container{
     display: flex;
     margin-top: 7rem;
     justify-content: center;
     align-items: center;
     color: white;
    
}
.stats{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 2rem;
    margin-top: 3rem;
    padding-bottom: 2rem;
    /* justify-content: center;
    align-items: center; */
    /* margin-left: 2%; */
}
.disabledD{
     pointer-events: none;
     opacity: 1;
}
@media screen and (max-width: 1024px){
     .stats{
         grid-template-columns: 1fr 1fr;
         gap: 1.2rem;
     }
 }  
 /*  Media Queries (Small Devices) */
  
 @media screen and (max-width: 600px){
     .stats{
         grid-template-columns: 1fr;
         gap: 1rem;
         margin-left: 15%;
     }
 } 