@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;1,300;1,500&display=swap');
.container3{
    justify-content: center;
    align-items: center;
    display: flex;
  
    /* margin-top: 10%; */
   
    background-image: url('/src/assets/hlbg.jpg');

    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
   width: 100%;
   height: 100%; 
}
.register{
    width: 400px;
    margin-top: 7rem;
    /* background: white; */
    border: 1px solid burlywood;
    box-shadow:0 2px 4px rgb(0 0 0 / 10%) , 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
    background-color: transparent;
    color: rgb(171, 254, 176);
    font-family: 'Poppins', sans-serif;
   
}
.register >h1 {
    background: rgb(174, 55, 55);
    font-family: 'Poppins', sans-serif;
}
.register >h2 {
    /* background: rgba(179, 64, 64, 0.699); */
    font-family: 'Poppins', sans-serif;
    background: black;
  
}
.register >h3 {
    /* background: rgba(179, 64, 64, 0.699); */
    font-family: 'Poppins', sans-serif;
    color: rgb(176, 251, 181);
    background: rgb(189, 189, 77);
}
.me > a{
    color: rgb(176, 251, 181);
}

.register > input {
    border-radius: 8px;
    border: 2px solid whitesmoke;
    outline: none;
    color: black;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 92%;
    font-size: 1rem;
}
.register > .button{
    background: rgb(174,55,55);
    border: 1px solid rgb(83, 26, 26);
    color: white;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}

div.error {
    padding: 10px;
    background: #797777;
    border: 1px solid var(--error);
    color: var(--error);
    border-radius: 4px;
    margin: 20px 0;
  }